@use "../../../scss/index.scss";
@use "../../../scss/colors.scss";


.signIn {
    width: 50%;
  
    > h3 {
      margin-bottom: 20px;
    }
  
    .actions {
      margin-top: 10px;
      color: colors.$secondary-hover;
    }

    .actions {
      margin-top: 10px;
    }
  }