

$primary: #FFFFFF ;
$primary-hover: #212A2F;
$secondary-hover:#8f8c8c;
$discount: #ff6600;

$text-primary: #212121;
$text-secondary: #FFFFFF;

$border-primary: #212121;
$border-secondary: #474747;

$background-primary: #FFFFFF;
$background-secondary: #F5F5F5;
$background-tertiary: #212121a9;
$background-quaternary: #D3D4D5;
$background-quaternary__blur: #3d3d3d76;
$background-info:#F1EBE7;

$success: #69af00;
$danger: #ff0a4e;